<mat-card>
<mat-card-header>
    <mat-card-title>Create Contact Form</mat-card-title>
</mat-card-header>

    <mat-card-content>
    <!-- put the form here -->
      <form>
        <mat-form-field>
            <mat-label>Contact Name</mat-label>
            <input  matInput  placeholder="Contact Name" [(ngModel)]="contactName"  name="contactName"  required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contact Address</mat-label>
            <textarea [(ngModel)]="contactAddress"  matInput></textarea>
        </mat-form-field>
        <mat-checkbox [checked]="isDeleted">Is deleted?</mat-checkbox>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input  [value]="date.value" matInput [matDatepicker]="myPicker"  placeholder="date">
            <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
            <mat-datepicker #myPicker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
    <!-- put buttons here -->
      <button  mat-raised-button (click)="saveContact()"  color="primary">Save Contact</button>
    </mat-card-actions>
</mat-card>
